
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    font-family: "Outfit", sans-serif;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    max-width: 370px;
    text-align: center;
    margin: 10%;
   
}

img{
    width: 100%;
    border-radius: 10px;
}

.card h1{
    color: hsl(218, 44%, 22%);
    font-size: 1.5rem; 
}

.card p{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}